@import "./sass/base/mixins";
@import "./sass/base/themes";

// ---------HEADER-----------
// date and time
.date-time {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
  padding-top: 3px;
  padding-left: 2px;
}

.main-title {
  font-size: 2.1rem;
  padding-left: 2px;
  @include theme-aware("color", "main-color");
}

// ---------ORDERS-----------

// parent container
.orders-container {
  display: flex;
  overflow-x: scroll;
  flex: 1;
  transition: 1s;
}

.orders-container::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  @include theme-aware("background-color", "light-color");
  border-radius: 10px;
}

.orders-container::-webkit-scrollbar {
  width: 15px;
  @include theme-aware("background-color", "light-color");
}

.orders-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @include theme-aware("background-color", "main-color");
}

// child container
.order-container {
  min-width: 300px;
  margin: 15px 0 15px 15px;
  transition: 1s;
  padding: 10px;
  position: relative;
  @include theme-aware("background-color", "main-color");
  @include theme-aware("color", "light-color");
}

.order-no {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.beers li {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
}

.beers {
  margin-top: 5px;
}

.bartender-icon {
  width: 35px;
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 10000;
}

.checkmark {
  font-family: "vtf_misterpixeltools";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2.5rem;
  height: 50%;
  width: 22%;
  text-align: center;
  border: 4px solid;
  @include theme-aware("background-color", "light-color");
  @include theme-aware("color", "main-color");
  @include theme-aware("border-color", "main-color");
}

.table-no {
  font-family: "vtf_misterpixelregular";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  text-align: center;
  height: 50%;
  width: 22%;
  border: 4px solid;
  border-bottom: none;
  @include theme-aware("background-color", "light-color");
  @include theme-aware("color", "main-color");
  @include theme-aware("border-color", "main-color");
}

// ---------QUEUE-----------
#queue-number {
  font-size: 4rem;
  text-align: center;
  margin-top: -30px;
  background-color: transparent;
  @include theme-aware("color", "light-color");
}

.queue-text {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: -10px;
  @include theme-aware("color", "light-color");
}

// ---------STORAGE-----------
.storage-meter {
  height: 25px;
  position: relative;
  transition: 1s;
  padding: 5px;
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  @include theme-aware("color", "light-color");
  @include theme-aware("background-color", "main-color");
}

// .inner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: vars.$blue;
//   width: 50px;
//   height: 20px;
// }

// .outer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 20px;
//   width: 100%;
//   border: 1px solid red;
// }

.storage-item {
  margin: 10px 0 15px 0;
}

.storage-container {
  overflow-y: scroll;
  height: 95%;
  padding: 15px;
  flex: 1;
}

.storage-container::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  @include theme-aware("background-color", "light-color");
}

.storage-container::-webkit-scrollbar {
  width: 15px;
  @include theme-aware("background-color", "light-color");
}

.storage-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @include theme-aware("background-color", "main-color");
}

.storage-name {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 1.2rem;
  @include theme-aware("color", "dark-color");
}

// ---------BEST SELLERS-----------

#best-sellers li {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  @include theme-aware("color", "light-color");
  @include theme-aware("background-color", "main-color");
}

#best-sellers li p {
  display: inline;
}

#best-sellers .bs-number {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  padding: 0 20px 0 10px;
}

#best-sellers .bs-text {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  text-transform: uppercase;
}

#best-sellers {
  padding: 15px;
}

// ---------Current shift-----------

#current-shift li {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

#current-shift li p {
  display: inline;
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  padding-left: 15px;
  font-size: 1rem;
  @include theme-aware("color", "dark-color");
}

#current-shift li img {
  display: inline;
  width: 45px;
}

#current-shift {
  padding: 5px;
}

#current-shift .shift-item {
  @include theme-aware("border-color", "light-color");
  border: 4px solid;
  cursor: pointer;
  transition: border 0.3s;
}

#current-shift .selected {
  @include theme-aware("border-color", "main-color");
  border: 4px solid;
  transition: border 0.3s;
}
