@use './sass/base/variables' as vars;

// ---------HEADER-----------
// date and time
.date-time {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85rem;
  padding-top: 3px;
  padding-left: 2px;
}

.main-title {
  color: vars.$blue;
  font-size: 2.1rem;
  padding-left: 2px;
}

// ---------ORDERS-----------

// parent container
.orders-container {
  display: flex;
  overflow-x: scroll;
  flex: 1;
  transition: 1s;
}

.orders-container::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #ffffff;
  border-radius: 10px;
}

.orders-container::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

.orders-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: vars.$blue;
}

// child container
.order-container {
  background-color: vars.$blue;
  color: vars.$white;
  min-width: 300px;
  margin: 15px 0 15px 15px;
  transition: 1s;
  padding: 10px;
}

.order-no {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
}

// ---------QUEUE-----------
.queue-number {
  font-size: 4rem;
  text-align: center;
  margin-top: -10px;
  background-color: transparent;
}

.queue-text {
  color: vars.$white;
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: -10px;
}

// ---------STORAGE-----------
.storage-meter {
  height: 25px;
  color: vars.$white;
  position: relative;
  background-color: vars.$blue;
  transition: 1s;
  padding: 5px;
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

// .inner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: vars.$blue;
//   width: 50px;
//   height: 20px;
// }

// .outer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 20px;
//   width: 100%;
//   border: 1px solid red;
// }

.storage-item {
  margin: 10px 0 15px 0;
}

.storage-container {
  overflow-y: scroll;
  height: 95%;
  padding: 15px;
  flex: 1;
}

.storage-container::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #ffffff;
  border-radius: 10px;
}

.storage-container::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

.storage-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  background-color: vars.$blue;
}

.storage-name {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: vars.$black;
  margin-bottom: 3px;
  font-size: 1.2rem;
}

// ---------BEST SELLERS-----------

#best-sellers li {
  width: 100%;
  background-color: vars.$blue;
  margin-bottom: 15px;
  color: vars.$white;
  padding: 10px;
  display: flex;
  align-items: center;
}

#best-sellers li p {
  display: inline;
}

#best-sellers .bs-number {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  padding: 0 20px 0 10px;
}

#best-sellers .bs-text {
  font-family: pt-mono, monospace;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  text-transform: uppercase;
}

#best-sellers {
  padding: 15px;
}

// ---------Current shift-----------

#current-shift li {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

#current-shift li p {
  display: inline;
  color: vars.$black;
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  padding-left: 20px;
  font-size: 1rem;
}

#current-shift li img {
  display: inline;
  width: 55px;
}

#current-shift {
  padding: 5px;
}
#current-shift .shift-item {
  border: 4px solid vars.$white;
  cursor: pointer;
  transition: border 0.3s;
}

#current-shift .selected {
  border: 4px solid vars.$blue;
  transition: border 0.3s;
}
