@import "./sass/base/mixins";
@import "./sass/base/themes";

body {
  height: 100vh;
  width: 100vw;
  padding: 40px;
  background-image: url("images/bg-img-placeholder.jpg");
  @include theme-aware("background-image", "theme-background-img");
  background-position: bottom;
  background-size: cover;
}

.hide {
  display: none;
}
#browser-icons {
  position: absolute;
  top: -19px;
  left: 2px;
  width: 37px;
  z-index: 100000;
}

#grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  @include theme-aware("background-color", "light-color");
  height: 100%;
  width: 100%;
  border: 5px solid;
  border-top: 25px solid;
  @include theme-aware("border-color", "window-border-color");
  padding: 15px;
  position: relative;
}

.comp {
  @include theme-aware("background-color", "light-color");
  border: 4px solid;
  @include theme-aware("border-color", "main-color");
}
.comp1 {
  grid-area: 1 / 1 / 2 / 3;
  border: none;
}
.comp2 {
  grid-area: 2 / 1 / 4 / 3;
  @include theme-aware("background-color", "main-color");
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.comp3 {
  grid-area: 1 / 3 / 4 / 12;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.comp4 {
  grid-area: 4 / 1 / 9 / 3;
}
.comp5 {
  grid-area: 4 / 3 / 9 / 6;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.comp6 {
  grid-area: 4 / 6 / 9 / 9;
}
.comp7 {
  grid-area: 4 / 9 / 9 / 12;
  padding: 0;
}

// theme select
#theme-select {
  position: fixed;
  top: 0;
  left: 0;
  @include theme-aware("background-color", "secondary-color");
  border: none;
  outline: none;
  padding: 5px;
  @include theme-aware("color", "theme-select");
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  appearance: none;
  font-size: 1.1;
  border-radius: 0;
  -webkit-appearance: none;
}

// animations

.fadeinout {
  animation-name: fadeinout_kf;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes fadeinout_kf {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
