@use './sass/base/variables' as vars;

#grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.comp {
  background-color: lightblue;
  padding: 15px;
}
.comp1 {
  grid-area: 1 / 1 / 2 / 3;
}
.comp2 {
  grid-area: 2 / 1 / 4 / 3;
}
.comp3 {
  grid-area: 1 / 3 / 4 / 12;
  overflow-x: auto;
}
.comp4 {
  grid-area: 4 / 1 / 9 / 3;
}
.comp5 {
  grid-area: 4 / 3 / 9 / 6;
  overflow: scroll;
}
.comp6 {
  grid-area: 4 / 6 / 9 / 9;
}
.comp7 {
  grid-area: 4 / 9 / 9 / 12;
  padding: 0;
}
