// parent container
.orders-container {
  display: flex;
  height: 88%;
  overflow-x: scroll;
}

// child container
.order-container {
  border: 1px solid black;
  height: 100%;
  min-width: 400px;
  margin-right: 10px;
}
