@use './sass/base/variables' as vars;

// parent container
.orders-container {
  display: flex;
  overflow-x: scroll;
  flex: 1;
  transition: 1s;
}

// child container
.order-container {
  background-color: vars.$blue;
  color: vars.$white;

  min-width: 400px;
  margin: 15px 0 15px 15px;
  transition: 1s;
}
