// general settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
=======
ul {
  list-style-type: none;
}

>>>>>>> 815bd192319f64cd106527c0f11b51b0b1e4c5f0
img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
