$themes: (
  80s: (
    main-color: #1e00ff,
    secondary-color: #1e00ff,
    text-color: #ffffff,
    light-color: #ffffff,
    dark-color: #000000,
    theme-select: #ffffff,
    window-border-color: #1e00ff,
    main-title-color: #1e00ff,
    scroll-bar-color: #1e00ff,
    theme-background-img: url("https://markusjorgensen.dk/80s-dream.png"),
  ),
  vortex: (
    main-color: #020202,
    secondary-color: #79ffa8,
    text-color: #ffffff,
    light-color: #79ffa8,
    dark-color: #020202,
    theme-select: #020202,
    window-border-color: #000000,
    main-title-color: #020202,
    scroll-bar-color: #000000,
    theme-background-img: url("https://markusjorgensen.dk/vortex.png"),
  ),
  pastel: (
    main-color: #eeb4ff,
    secondary-color: #e38bfd,
    text-color: #3b3b3b,
    light-color: #ffffff,
    dark-color: #020202,
    theme-select: #020202,
    window-border-color: #e38bfd,
    main-title-color: #3b3b3b,
    scroll-bar-color: #e38bfd,
    theme-background-img: url("https://markusjorgensen.dk/pastel-heaven.png"),
  ),
);
