@import "./sass/base/mixins";
@import "./sass/base/themes";

// how heading and p tags should behave

@font-face {
  font-family: "vtf_misterpixelregular";
  src: url("fonts/mister_pixel_regular-webfont.woff2") format("woff2"), url("fonts/mister_pixel_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vtf_misterpixeltools";
  src: url("fonts/mister_pixel_tools-webfont.woff2") format("woff2"), url("fonts/mister_pixel_tools-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "vtf_misterpixelregular";
  font-weight: normal;
  font-style: normal;
  @include theme-aware("background-color", "main-color");
  padding: 15px;
  font-size: 1.5rem;
  @include theme-aware("color", "text-color");
}

.comp-title {
  text-transform: uppercase;
}
